@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Slabo+27px&display=swap');

:root {
  --mainColor: #1f1d36;
  --seconColor: #3f3351;
  --third-color: #864879;
  --fourt-color: #e9a6a6;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato';
}

hr {
  height: 1px;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    -40deg,
    var(--fourt-color),
    var(--third-color),
    var(--seconColor),
    var(--mainColor)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0003;
  border-radius: 20px;
  height: 80vh;
  width: 40vw;
}

.logo {
  color: var(--third-color);
  margin: 40px 0;
  font-size: 3rem;
  font-family: 'Slabo';
}

#form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form p {
  color: var(--fourt-color);
  font-family: 'Lato';
  margin-bottom: 5px;
}

.email-form,
.password-form {
  color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  background-color: #0003;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.input {
  font-family: 'Lato';
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding: 5px 5px 5px 10px;
  color: #fff;
  border: none;
  background-color: transparent;
  outline: none;
}

.email-form:focus-within,
.password-form:focus-within {
  color: var(--fourt-color);
  border: 1px solid var(--fourt-color);
  border-radius: 10px;
}

.submit {
  margin-top: 10px;
  align-self: end;
}

#submitBtn {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: var(--third-color);
}

#submitBtn:focus {
  color: var(--fourt-color);
}

.hide {
  display: none;
}

.main-container.hide {
  display: none;
}
/***************************************************************** USERS PAGE */
.greetings-container {
  width: 80vw;
  height: 80vh;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-input {
  background-color: var(--seconColor);
  border-radius: 10px;
  margin-top: 100px;
  width: 500px;
  height: 50px;
  transition: border 0.4s;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #ffff;
}

.user-input:focus-within {
  border: 2px solid var(--fourt-color);
  border-radius: 10px;
}

.user-input input {
  outline: none;
  color: #ffff;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.user-input input::placeholder {
  color: #ffff;
}

.greet-msg {
  font-family: 'Slabo';
  font-size: 3rem;
  color: #fff;
}

.user {
  display: flex;
  flex-direction: column;
}

#addPerson {
  color: #fff;
  align-self: end;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

#addPerson:focus-within {
  color: var(--seconColor);
}

/* MAIN  */
.main-container {
  height: 70vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: 'Lato';
  background-color: var(--seconColor);
  border-radius: 20px;
  padding: 10px;
  grid-gap: 5px;
  position: relative;
}

.main-container .logo {
  position: absolute;
  font-size: 1rem;
  top: -120px;
  left: 10px;
  color: #fff5;
}

.balance-container {
  border: 2px solid var(--mainColor);
  align-self: center;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--seconColor);
  grid-column: span 2;
  grid-row: span 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.balance-container h1 {
  color: var(--fourt-color);
  font-size: 3rem;
  justify-self: start;
  align-self: center;
}

.userID {
  color: var(--fourt-color);
  width: 100%;
  font-size: 1rem;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
}

.userID i {
  color: var(--fourt-color);
  font-size: 2.5rem;
  justify-self: end;
}

.deposit-container {
  align-self: end;
  border: 2px solid var(--mainColor);
  height: 100%;
  border-radius: 20px;
  background-color: var(--seconColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fourt-color);
  font-size: 2rem;
  cursor: pointer;
}

.deposit-container:hover,
.withdrawal-container:hover,
.transfer-container:hover,
.view-users:hover {
  border: 2px solid var(--fourt-color);
}

.deposit-container p {
  font-weight: 700;
  font-size: 1.8rem;
}

.withdrawal-container {
  align-self: end;
  border: 2px solid var(--mainColor);
  height: 100%;
  border-radius: 20px;
  background-color: var(--seconColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fourt-color);
  font-size: 2rem;
  cursor: pointer;
}

.withdrawal-container p {
  font-weight: 700;
  font-size: 1.8rem;
}

.transfer-container {
  align-self: flex-start;
  border: 2px solid var(--mainColor);
  height: 100%;
  border-radius: 20px;
  background-color: var(--seconColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fourt-color);
  font-size: 2rem;
  cursor: pointer;
}

.transfer-container p {
  font-weight: 700;
  font-size: 1.8rem;
}

.view-users {
  align-self: flex-start;
  border: 2px solid var(--mainColor);
  height: 100%;
  border-radius: 20px;
  background-color: var(--seconColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fourt-color);
  font-size: 2rem;
  cursor: pointer;
}

.view-users p {
  font-weight: 700;
  font-size: 1.8rem;
}

.expenses-container {
  height: 100%;
  width: 100%;
  grid-column: span 4;
  border-radius: 10px;
  border: 2px solid var(--mainColor);
}

.expenses-container h2 {
  color: var(--fourt-color);
  font-size: 1.2rem;
  margin: 5px 0 0 10px;
}

.expenses {
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.expenses .header {
  font-size: 0.8rem;
  color: var(--third-color);
  margin: 2px 0 2px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid white;
}

.expenses .header h3:last-child {
  justify-self: center;
}

.expenses .expense-items div {
  color: var(--third-color);
  margin: 2px 0 2px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.expenses div .expenseCost {
  justify-self: center;
}

.expenseName,
.expenseCost {
  font-size: 0.8rem;
}

.expenses .expense-items div button {
  cursor: pointer;
  border: none;
  background-color: var(--third-color);
  color: var(--fourt-color);
  border-radius: 100%;
  width: 25px;
  font-size: 0.7rem;
  justify-self: end;
}

.expenses .expense-items div button:hover,
#addExpense:hover {
  background-color: var(--fourt-color);
  color: var(--third-color);
}

#addExpense {
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--fourt-color);
  border: none;
  border-radius: 20px;
  margin: 10px 0 0 0;
  width: 100px;
  justify-self: center;
}

/* DEPOSIT CONTAINER */
#deposit-container,
#withdraw-container {
  border-radius: 20px;
  width: 40vw;
  height: 50vh;
  background-color: var(--third-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#deposit-container.hide,
#withdraw-container.hide,
#transfer-container.hide,
#view-users-container.hide,
#addExpenseContainer.hide,
#allUsers-container.hide {
  display: none;
}

#deposit-container .fa-x,
#withdraw-container .fa-x,
#transfer-container .fa-x,
#addExpenseContainer .fa-x,
#allUsers-container .fa-x {
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
}

#deposit-container div,
#withdraw-container div {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 50px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#deposit-container div input,
#withdraw-container div input {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  margin-left: 20px;
}

#deposit-container .fa-x:hover,
#withdraw-container .fa-x:hover,
#transfer-container .fa-x:hover,
#addExpenseContainer .fa-x:hover,
#allUsers-container .fa-x:hover {
  color: var(--fourt-color);
}

.containers {
  position: absolute;
  background-color: #0009;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
}

.containers.hide {
  display: none;
}

.sucess {
  color: green;
}
.invalid {
  color: red;
}

#transfer-container {
  position: relative;
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--third-color);
}

.makeTransfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allusers {
  border: 2px solid var(--seconColor);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  width: 300px;
  overflow-y: scroll;
}

.allusers::-webkit-scrollbar-track {
  border: 1px solid var(--third-color);
  padding: 2px 0;
  background-color: var(--fourt-color);
}

.allusers::-webkit-scrollbar {
  width: 5px;
}

.allusers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--fourt-color);
  border: 1px solid var(--third-color);
}

.allusers div {
  margin: 5px 0;
}

.printUser {
  cursor: pointer;
}

.checkName {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffff;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#transfer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 60%;
}

#transfer-container div i {
  font-size: 2rem;
}

#transfer input {
  background-color: transparent;
  border: none;
  outline: none;
}

.trackTransfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tracker {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
  height: 50%;
  padding-top: 10px;
  width: 70%;
}

.tracker::-webkit-scrollbar-track {
  border: 1px solid var(--third-color);
  padding: 2px 0;
  background-color: var(--fourt-color);
}

.tracker::-webkit-scrollbar {
  width: 5px;
}

.tracker::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--fourt-color);
  border: 1px solid var(--third-color);
}

#addUsertoTrack {
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 200px;
  outline: none;
  padding: 10px;
}

#addUsertoTrack:focus {
  border: 2px solid var(--fourt-color);
}

#addExpenseContainer {
  align-self: end;
  margin-bottom: 100px;
  width: 40vw;
  height: 20vh;
  border-radius: 20px;
  background-color: #0003;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addExpenseContainer div:first-child {
  display: grid;
  margin: 0 20px;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

#addExpenseContainer h4 {
  margin-top: 20px;
  align-self: center;
}

#expenseName,
#expenseValue {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--fourt-color);
  color: var(--fourt-color);
}

#logout {
  cursor: pointer;
  font-family: 'Lato';
  border: none;
  background-color: transparent;
  color: #fff9;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  right: 15px;
  top: -50px;
}

#logout:hover {
  color: #000;
}

#allUsers-container {
  padding: 20px;
  position: relative;
  border-radius: 20px;
  height: 80vh;
  width: 60vw;
  background-color: var(--third-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#allUsers-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#allUsers-container ul {
  text-align: center;
  list-style: none;
  margin: 2px 0;
  font-weight: 700;
}

#allUsers-container ul li {
  font-weight: 500;
}
